<!-- <div class = "container-fluid p-5 ">

    <img src="../../../assets/images/bg-lindi.png" class="img-fluid imgS" alt="Responsive image">

        <p class="py-5 text-center"> This isn't just art that looks pretty, but art that makes your company more valuable.

            The Maboneng art gallery studio embraces the arts and providing guidance to clients that pursue influential change through their products and services.</p>

</div> -->


<div class = "container-fluid wrap ">
    <div class="row my-5 p-4">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/fhatuwan7.jpg" class="img-fluid imgS" alt="Responsive image">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 ">
            <h5 class="py-5 text-center">My name is Fhatuwani Mukhli I am visual artist</h5>
        </div>
    </div>
    </div>
