<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  </head>

  <style type="text/css">
    .item:hover {
      filter: brightness(80%);
      transform: scale(1.1);
    }
  </style>
  <body>
    <div class="container wrap">
      <div class="header mb-4 pt-10">
        <h1 class="display-5 text-center">
          Make a lasting impression with a touch of a brush
        </h1>
      </div>

      <div class="row mt-2">
        <div
          class="item col-sm-6 col-md-3 mb-5"
          *ngFor="let product of products"
        >
          <a
            href="/"
            class="fancybox"
            data-fancybox="gallery1"
            data-lightbox="mygallery"
          ></a>
          <img src="{{ product.image }}" width="100%" height="96%" />
        </div>
      </div>
    </div>

  </body>
</html>
