<style type="text/css">
    .item:hover {
      filter: brightness(80%);
    }
  </style>
  <body>
    <!-- checking something -->
  
    <div class="container wrap">
      <div class="row mt-2">
        <div class="item col-sm-6 col-md-3 mb-5" *ngFor="let product of products">
          <a href="/" class="fancybox" data-fancybox="gallery1"></a>
          <img src="{{ product.image }}" width="90%" height="90%" />
          <div class="productInfo">
            <p>{{ product.name }}</p>
            <p>{{ product.price | currency: "R " }}</p>
          </div>
        </div>
      </div>
     
    </div>
  </body>
  